absl-py==0.2.2
arcade==1.3.4
astor==0.6.2
astroid==1.6.4
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
future==0.16.0
gast==0.2.0
gridworld==0.1
grpcio==1.12.0
gym==0.10.5
h5py==2.8.0
html5lib==0.9999999
idna==2.6
imageio==2.3.0
isort==4.3.4
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==2.6.11
matplotlib==2.2.2
mccabe==0.6.1
moviepy==0.2.3.5
numpy==1.14.3
Pillow==5.1.0
protobuf==3.5.2.post1
pydot-ng==1.0.0
pyglet==1.3.2
pylint==1.9.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.18.4
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==2.9.3
termcolor==1.1.0
Theano==1.0.2
tqdm==4.23.4
urllib3==1.22
Werkzeug==0.14.1
wrapt==1.10.11
